@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sevillana", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

main {
    background-image: url('./assets/palacio.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10vh;

    h1 {
        
        font-size: 40px;
    }

    img {
        max-height: 65vh;

    }

    button {
        width: 30%;
        height: 6vh;
        background-color: #007BFF;
        border: none;
        border-radius: 50px;
        font-size: 30px;
    }

    button:hover {
        background-color: #B74794;
    }
}


@media screen and (max-width: 600px) {
    main {
        background-position: center;
        height: 100vh;
        width: 100vw;

        h1 {
            font-size: 35px;
        }
    
        img {
           max-width: 333px; 
        }
    
        button {
            width: 90%;
            height: 10vh;
            background-color: #B74794;
            border: none;
            border-radius: 50px;
            font-size: 30px;
    
        }
        button:hover {
            background-color:  #007BFF;
        }
    }



    
}
