* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 24vh;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;

    div {
        button {
           color: #FFFFFF;
           font-size: 32px;
           font-weight: 700;
           border-radius: 10px;
        }

        .firstButton {
            width: 309px;
            height: 62px;
            background-color: #DF0712;
            border: none;
            
        }

        .secondButton {
            width: 158px;
            height: 62px;
            background-color: #181818;
            border: solid 1px white;
        }
    }
}